extends layout

block content
    h1 List of all activities

    table.table.table-dark.table-striped
        thead.thead-dark
            tr
                th(scope='col') Description
                th(scope='col') Date
                th(scope='col') Started at
                th(scope='col') Duration
                th(scope='col') Distance
                th(scope='col') Avg heart freq.
                th(scope='col') Max heart freq.
                th(scope='col') Min heart freq.
        tbody
            each val in data
                tr
                    th(scope='row') #{val.description}
                    th #{val.date}
                    th #{val.startHour}
                    th #{val.duration}
                    th #{val.distanceTotal}
                    th #{val.cardioFreqAvg}
                    th #{val.cardioFreqMax}
                    th #{val.cardioFreqMin}
