extends layout

block content
    h1 List all activities

    table(border='1')
        thead
            tr
                th Description
                th Date
                th Started at
                th Duration
                th Distance
                th Avg heart freq.
                th Max heart freq.
                th Min heart freq.
        tbody
            each val in data
                tr
                td= val.description
                td= val.date
                td= val.startHour
                td= val.duration
                td= val.distanceTotal
                td= val.cardioFreqAvg
                td= val.cardioFreqMax
                td= val.cardioFreqMin
