extends layout

block content
    h1 List all users
    
    table(border='1')
        thead
            tr
                th Nom
                th Prénom
                th Date de naissance
                th Taille
                th Poids
                th Email
        tbody
            each val in data
                tr
                td= val.last_name
                td= val.first_name
                td= val.birthday
                td= val.height
                td= val.weight
                td= val.email
